:root{
	--primary_color: #18a364;
	--primary_accent: rgba(216, 63, 16);
    --primary_accent_hover: rgba(24, 187, 105, 0.842);
	--primary_bg: #c0fAf1;
}

*{
    list-style: none;
    text-decoration: none;
}

section{
    padding: 3em 0;
}

.container{
    margin-inline: auto;
    width: min(90%, 70.5rem);
}

.contact{
    display: block;
    font-size: 1.2em;
}

.contact li{
    padding-bottom: 0.2em;
}

li .icon{
    border-radius: 13px; 
    margin: 0;
    padding: 0.7em;
    color: var(--primary_color);
}

.split{
    display: flex;
    flex-direction: column;
}

.img {
     border-radius: 50% / 14% 68% 21%; 
    /* border-radius: 5px; */
}

@media (min-width: 40em) {
    .split{
        flex-direction: row;
    }

     .split > * + *{
        padding-left: 4em;
    } 
    
}

span.in{
    border-radius: 13px; 
    margin: 0;
    padding: 0.7em;
    border: solid 1px rgba(94, 58, 58, 0.25);
    color: black;
    background-color: aliceblue;
}

.info{
    font-size: 2.15em;
    font-weight: 600;
}

.level{
    width:95%;
    margin: 0.5em auto;
}

.bar{
    background-color: #7e89a1;
    display: block;
    border: 0.5px solid rgba(0, 0, 0, 0.3);
    height: 3px;
    border-radius: 4.5px;
    overflow: hidden;

}

.bar span{
    height: 4.5px;
    float: left;
    background-color: red ;
}

.ht{
    width: 90%;
}

.tm{
    width: 45%;
}

.lk{
    width: 75%;
}


.recents{
    display: grid;
    gap: 0.25em;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    text-align: center;
}

@media (min-width: 40em){
    .recents{
        grid-template-columns: repeat(4, 0.75fr);
        width:52%;
    }
}

.btn-info {
    color: #fff;
    background-color: var(--primary_color);
    border-color: var(--primary_color);
  }
  
  .btn-info:hover {
    color: var(--sec_bg_hover);
    background-color: #fff;
    border-color: var(--sec_bg_hover);
    transform: scale(1.3);
  }
  
  .btn-info:focus, .btn-info.focus {
    color: var(--sec_bg_hover);
    background-color: #fff;
    border-color: var(--sec_bg_hover);
  }
  
  .btn-info.disabled, .btn-info:disabled {
    color: var(--sec_bg_hover);
    background-color: #fff;
    border-color: var(--sec_bg_hover);
  }
  
  .btn-info:not(:disabled):not(.disabled):active, .btn-info:not(:disabled):not(.disabled).active,
  .show > .btn-info.dropdown-toggle {
    color: var(--sec_bg_hover);
    background-color: #fff;
    border-color: var(--sec_bg_hover);
  }
  
  .btn-info:not(:disabled):not(.disabled):active:focus, .btn-info:not(:disabled):not(.disabled).active:focus,
  .show > .btn-info.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
  }